// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #8753D5; // Thats a sample how you could change a BootStrap variable.


$color-grey: #6D6E71;
$color-pink: #F494BA;
$color-turquoise: #44a7b1;
$color-turquoise-dark: #41858f;
$color-green: #B7DA9B;
$color-yellow: #FFCE7B;
$color-light-grey: #8C9AA0;
$color-brown: #CDC2AF;
$color-violet: #D2A3CB;

